<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.CommentMapper">
	
	<!-- 
		void insertComment(@Param("comment") Comment comment);
	 -->
	<insert id="insertComment">
		<selectKey keyProperty="comment.no" resultType="int" order="BEFORE">
			select comments_seq.nextval
			from dual	
		</selectKey>
		
		insert into spring_board_comments
		(comment_no
		, comment_title
		, comment_content
		, comment_created_date
		, board_no
		, user_no)
		values
		(#{comment.no}
		, #{comment.title}
		, #{comment.content}
		, #{comment.createdDate}
		, #{comment.board.no}
		, #{comment.user.no})
	</insert>

	<!-- 
		List<Comment> getCommentsByBoardNo(@Param("boardNo") int boardNo);
	 -->
	<select id="getCommentsByBoardNo" resultType="Comment">
		select
			C.comment_no				as no
			, C.comment_title			as title
			, C.comment_content			as content
			, C.comment_created_date	as createdDate
			, C.board_no				as "board.no"
			, U.user_no					as "user.no"
			, U.user_nickname			as "user.nickname"
		from
			spring_board_comments C, spring_users U
		where
			C.board_no = #{boardNo}
			and C.user_no = U.user_no
		order by
			C.comment_no asc
	</select>
	
	<!-- 
		Comment getCommentByNo(@Param("no") int commentNo);
	 -->	
	<select id="getCommentByNo" resultType="Comment">
		select
			C.comment_no				as no
			, C.comment_title			as title
			, C.comment_content			as content
			, C.comment_created_date	as createdDate
			, C.board_no				as "board.no"
			, U.user_no					as "user.no"
			, U.user_nickname			as "user.nickname"
		from
			spring_board_comments C, spring_users U
		where
			C.comment_no = #{no}
			and C.user_no = U.user_no
	</select>
	 
	<!-- 
		void deleteComment(@Param("no") int commentNo);
	 -->	
	<delete id="deleteComment">
		delete from
			spring_board_comments
		where
			comment_no = #{no}
	</delete>
</mapper>











